.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem 1rem;
  border-radius: var(--openapi-card-border-radius);
  background-color: var(--openapi-card-background-color);
  margin-bottom: 1.5rem;
}

.textWrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.method {
  width: 50px;
  min-width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  margin-right: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: white;
  background-color: var(--ifm-color-secondary-darkest);
}

.get {
  background-color: var(--ifm-color-primary);
}

.put {
  background-color: var(--openapi-code-blue);
}

.post {
  background-color: var(--openapi-code-green);
}

.delete {
  background-color: var(--openapi-code-red);
}

.patch {
  background-color: var(--openapi-code-orange);
}

.path {
  word-break: break-all;
  width: 100%;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.copyButtonContainer {
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
}

.copyButton {
  color: var(--ifm-color-emphasis-600);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
