.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #3c4251;
  padding: 0.75rem;
}

.languageWrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
}

.language {
  margin-right: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.copyButton {
  opacity: 1;
}
